@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap');

:root {
    --heading-font: serif;
    --paragraph-font: sans-serif;
    
    --primary-color:  #86878a;
    --secondary-color: #070503df;
    --add-color1: #f5b39c;
}

* {
    background-color: rgb(147, 189, 196);
    box-sizing: border-box;
}

h1, h2, p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--secondary-color);
}

body {
    max-width: 1500px;
    position: absolute;
}

header img {
    width: 100px;
    padding-left: 0;
    box-shadow: #1b2030 0px 4px 10px 2px;
}

.image1 {
    width: 100%;
    display: block;
    height: auto;
    position: relative;
    top: 0;
    bottom: 0;
}

.image2 {
    float: right;
    width: 20%;
}

.para {
    font-size: 30px;
    font-weight: bold;
    line-height: 2.0rem;
}

.image2 {
    object-fit: contain;
    position: absolute;
    top: 400px;
    right: 10px;
}
.hero {
    position: relative;
}

.hero h1 {
    position: absolute;
    position: absolute;
    top: 50px;
    right: 0%;
    font-size: 40px;
    background-color: #06a067c4;
    margin: 30px;
    width: 100%;
    text-align: center;
}

.para {
    position: absolute;
    top: 400px;
    right: 310px;
    padding: 0px;
    background-color: rgba(210, 220, 230, 0.53);
}
footer img {
    width: 50px;
}