/* @import url('https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100..900;1,100..900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap');

:root {
  --primary-color: #D0ABA0;
  --secondary-color: #BEE7E8;
  --accent1-color: #2D2D2A;
  --accent2-color: #726DA8;
    
  --heading-font: serif;
  --paragraph-font: sans-serif;

  --nav-background-color: #726DA8;
  --nav-link-color:#2D2D2A;
  --nav-hover-link-color: #D0ABA0;
  --nav-hover-background-color:#D0ABA0;
}

header {
  background-color: var(--primary-color);
  padding: 10px;
}

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}

p {
    padding: 15px;
}

h1, h2, h3, h4, h5, h6{
  color: var(--accent2-color);
  font-family: var(--paragraph-font);
}
nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}

nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}