@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@700&display=swap');

:root {
    --primary-color: #D0ABA0;
    --secondary-color: #BEE7E8;
    --accent1-color: #2D2D2A;
    --accent2-color: #726DA8;

    --heading-font:  'PT Serif', sans-serif;
    --background-font:  Arial, Helvetica, sans-serif;

    --nav-background-color: #726DA8;
    --nav-link-color:#2D2D2A;
    --nav-hover-link-color: #D0ABA0;
    --nav-hover-background-color:#D0ABA0;
}

header {
    background-color: var(--secondary-color);
    padding: 15px;
}

body {
    font-family: var(--backgrond-font);
}

p {
    padding: 20px;
}

h1, h2, h3, h4, h5, h6{
    color: var(--accent1-color);
}

nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}
nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}
nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}